{% extends 'base.html' %}

{%block head %}
<title>HOME</title>
{% endblock%}

{%block body %}
<br>
<h1>PrepPool</h1>
<br>

Sie sind eingeloggt. Jetzt kann der Spass beginnen. <br><br><br>

<h1>Was möchten Sie tun?</h1>


</a>
<br>
<table >
    <tr>
        <td>    
            <a class="btn btn-primary" href="/topics/new_topic" role="button"style="height:80px;width:150px">Ein neues Thema eingeben
            </a>
        </td>
        <td>     
            <a class="btn btn-primary" href="/posts/new_post" role="button"style="height:80px;width:150px">Eine neue Aufgabe eingeben
            </a>
        </td>
        <td>     
            <a class="btn btn-primary"  href="/sheets/new_sheet" role="button" style="height:80px;width:150px">Ein neues Aufgabenblatt erstellen
            </a>
        </td>
    </tr>
    <tr>
        <td>    
            <a class="btn btn-primary"  href="/posts/entries/" role="button"style="height:80px;width:150px">Meine Aufgaben ansehen
            </a>
        </td>
        <td>     
            <a class="btn btn-primary"  href="/sheets/view_sheet" role="button"style="height:80px;width:150px">Meine Aufgabenblätter ansehen
            </a>
        </td>
        <td>     
            <a class="btn btn-primary"  href="/users/view_users" role="button"style="height:80px;width:150px">Alle PrepPool-Nutzer sehen
            </a>
        </td>
    </tr>
</table>
<br>
<a class="btn btn-primary" href="/users/logout" role="button">Ausloggen</a>

<!--
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>Was möchten Sie tun?</h1>
            <br>
            <h3>Hier können Sie ein neues Thema eingeben.</h2>
            
            <a class="btn btn-primary" href="/topics/new_topic" role="button">Thema Eingeben
                </a>
             </p>

            <br>
            <h3>Hier können Sie eine neue Aufgabe eingeben.</h2>
            
                <a class="btn btn-primary" href="/posts/new_post" role="button">Aufgabe Eingeben
                    </a>
            </p>

            <br>
           

            <h3>Hier können Sie ein Aufgabenblatt zusammenstellen. </h2>

            <a class="btn btn-primary"  href="/sheets/new_sheet" role="button">Aufgabenblatt Erstellen
            </a>
        </p>
            <br>
                        
            <h3>Hier können Sie Ihre erfassten Aufgaben ansehen. </h2>

                <a class="btn btn-primary"  href="/posts/entries/" role="button">Zu meinen Aufgaben
                </a>
            </p>
                <br>

            <h3>Hier können Sie ein Aufgabenblatt ansehen. </h2>

            <a class="btn btn-primary"  href="/sheets/view_sheet" role="button">Aufgabenblatt Ansehen
            </a>
            </p>
                <br>
            <h3>Hier können Sie alle anderen Nutzer von PrepPool sehen. </h2>

                <a class="btn btn-primary"  href="/users/view_users" role="button">Übersicht PrepPool-Nutzer
                </a>
            </p>
                <br>
        </div>
    </div>
</div>
-->
{% endblock%}