{% extends 'base.html' %}

{%block head %}
<title>HOME</title>
{% endblock%}

{%block body %}
<br>
<h1>PrepPool</h1>
<br>

Sie sind eingeloggt. Jetzt kann der Spass beginnen.
<a class="btn btn-primary" href="/users/logout" role="button">Logout
</a>
<br>
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>Was möchten Sie tun?</h1>
            <br>
            <h3>Hier können Sie ein neues Thema eingeben.</h2>
            
            <a class="btn btn-primary" href="/topics/new_topic" role="button">Thema Eingeben
                </a>
             </p>

            <br>
            <h3>Hier können Sie eine neue Aufgabe eingeben.</h2>
            
                <a class="btn btn-primary" href="/posts/new_post" role="button">Aufgabe Eingeben
                    </a>
            </p>

            <br>
           

            <h3>Hier können Sie ein Aufgabenblatt zusammenstellen. </h2>

            <a class="btn btn-primary"  href="/sheets/new_sheet" role="button">Aufgabenblatt Erstellen
            </a>
        </p>
            <br>
           

            <h3>Hier können Sie ein Aufgabenblatt ansehen. </h2>

            <a class="btn btn-primary"  href="/sheets/view_sheet" role="button">Aufgabenblatt Ansehen
            </a>
        </div>
    </div>
</div>

{% endblock%}