{% extends 'base.html' %}

{%block head  %}
<title>Edit Post</title>
{% endblock%}

{%block body  %}

<h1>Editing Aufgabe</h1>

<hr>

<form action ='/eingabe/edit/{{post.id}}' method='POST'>
   <label for="fach" >Fach</label>
   <input class="form-control" type="text" name='fach' id='fach', value='{{post.fach}}'>
   <br>
  

   <label for="thema" >Thema</label>
   <input class="form-control" type="text" name='thema' id='thema', value={{post.thema}}>
   <br>

   <label for="level" >Level</label>
   <input class="form-control" id='level' type='Integer' name='level' value='{{post.level}}'>
   <br>


   <label for="aufgabe" >Aufgabe</label>
   <input value='{{post.aufgabe}}'>
   <textarea style="white-space:pre-wrap" class="form-control" id='aufgabe' type='text' name='aufgabe' rows="15" value='{{post.aufgabe}}'></textarea>

  
   <br>
  

   <input type='submit' value='Save' href="/eingabe/edit" class="btn btn-success"  role="button">

   <a class="btn btn-primary" href="/eingabe/" role="button">Zur Datenbank </a>
   
</form>
<br>
<br>
<hr>

  


{% endblock%}
 