{% extends 'base.html' %}

{%block head %}
<title>HOME</title>
{% endblock%}

{%block body %}
<br>
<h1>Aufgaben Pool</h1>
<br>
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>Herzlich Willkommen</h1>
            <br>
            <br>
            <br>

            <h2>Registrieren sie sich </h2>
        
                <a class="btn btn-primary" href="/register" role="button">Registrieren
                    </a>
                   
            <br>
            <br>
            <br>
            <br>

            <h2>Schon einen Account? </h2>
            
                <a class="btn btn-primary" href="/login" role="button">Log In
                    </a>
            </p>
    
        </div>
        <br>
      <br> 
    </div>
    <br>
    <br>  
</div>
{% endblock%}