{% extends 'base.html' %}

{%block head  %}
<title>Aufgaben</title>
{% endblock%}

{%block body  %}


<br>
<br>

<h2>Erstellen Sie eine Aufgabe:</h2>
<br>
<form action ='/new/' method='POST'>
   
   <label for="fach" >Fach</label>
   <select class="form-select" type="text" name='fach' id='fach', placeholder="Enter Fach" aria-label="Fach">
      
      <option value="Mathematik">Mathematik</option>
      <option value="Französich">Französisch</option>
    </select>

    <br>
  
    <label for="thema" >Thema</label>
   <select class="form-select" type="text" name='thema' id='thema', placeholder="Enter Thema" aria-label="thema">
    
      <option value="Algebra">Algebra</option>
      <option value="Geometrie">Geometrie</option>
 
      <option value="Gramatik">Gramatik</option>
      <option value="Lecture">Lecture</option>
    </select>
  

   <br>
  
   <label for="schwierigkeitsgrad" >Level</label>
   <select class="form-select" type="Integer" name='schwierigkeitsgrad' id='schwierigkeitsgrad', placeholder="Enter Level" aria-label="schwierigkeitsgrad">
    
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
    
    </select>


    <br>
   <label for="aufgabe" >Aufgabe</label>
   <textarea class="form-control" id='aufgabe' type='text' name='aufgabe' placeholder="Enter Aufgabe" rows="15"></textarea>

   <br>

   <br>




   <input type='submit' value='Aufgabe speichern' href="/new/" class="btn btn-success"  role="button">

   
   <a class="btn btn-primary" href="/eingabe/" role="button">Zur Datenbank</a>
</form>
  
<br>
<br>

{% endblock%}
 