{% extends 'base.html' %}

{%block head  %}
<title>Themen</title>
{% endblock%}

{%block body  %}


<br>

<table>
  <tr>
      <th>Bereits erfasste Themen</th>
      
  </tr>
  {% for topic in topics %}
  <tr>
      <td>{{topic.thema}}</td>
  </tr>
  {% endfor %}
</table>
<br>

<h2>Erfassen Sie ein neues Thema:</h2>
<br>
<div class="content-section">
   <form method ="POST" action="">
   
       {{  form.hidden_tag()  }}
       <br>
       
         <br>
         <div class="form-group">
           {{ form.thema.label(class="form-control-label") }}
           {%if form.thema.errors%}
            {{ form.thema(class="form-control form-control-lg is-invalid") }}
         <div class="invalid-feedback">
           {%for error in form.thema.errors%}
             <span> {{error}}</span>
             {%endfor%}
             </div>
           {%else%}
           {{form.thema (class="form-control form-control-lg")}}
           {%endif%}
         </div>
         <br>
         
         

       </fieldset>
       <br>
       <div class="form-group">
       {{form.submit(class="btn btn-outline-info") }}
       </div>
       <br>
       <fieldset class="form-group">
        <legend class="border-bottom mb-4"> {{legend}}</legend>
      <br><br><br><br>

       <h2>Hier können Sie eine neue Aufgabe erfassen.</h2>
            
       <a class="btn btn-primary" href="/new/" role="button">Aufgabe eingeben
           </a>
   </p>

   <br>
   <br>

   <h2>Hier können Sie ein Aufgabenblatt zusammenstellen. </h2>

   <a class="btn btn-primary" href="/aufgaben/" role="button">Aufgabenblatt erstellen
   </a>
   <br>
   <br>
       <br>
       <a class="btn btn-primary" href="/eingabe/" role="button">Zur Datenbank</a>

       <br>
   </form>
   <br>
   <br>
</div>

{% endblock%}

 