{% extends 'base.html' %}

{%block head  %}
           <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
          {% endblock%}

{%block body %}
<br>
<h1>PrepPool</h1>

<h2> {{sheet_title}}</h2>
<br>
{% for post in postlist%}

    <article class="media content-section">
        <div class="media">
           
            
                <div class="media-body">
                    <div class="article-metadata">
                   
                    <h4>Aufgabe</h4> 
                 
                    <p style="white-space:pre-wrap"> {{post.text}}</p>


                     <br>
                    <br>
                </div>
        </div>
   
       
        <hr>
        
       
    </article>
    
        {%endfor%}
        <br>
        <a class="btn btn-primary" href="/sheets/view_sheet" role="button">Zu meinen Aufgabenblättern</a>
  
        <br><br>
        <a class="btn btn-primary" href='/home' role="button">Zur Übersicht
        </a>
{% endblock body%}