{% extends 'base.html' %}

{%block head %}
<title>HOME</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock%}

{%block body %}
<br>
<h1>PrepPool</h1>
<br>

Sie sind eingeloggt. Jetzt kann der Spass beginnen. <br><br><br>

<h2>Was möchten Sie tun?</h2>


</a>
<br>
<table>
    <tr>
        <td>    
            <a class="btn btn-primary" href="/topics/new_topic" role="button"style="height:80px;width:150px">Ein neues Thema eingeben
            </a>
        </td>
        <td>     
            <a class="btn btn-primary" href="/posts/new_post" role="button"style="height:80px;width:150px">Eine neue Aufgabe eingeben
            </a>
        </td>
        <td>     
            <a class="btn btn-primary"  href="/sheets/new_sheet" role="button" style="height:80px;width:150px">Ein neues Aufgabenblatt erstellen
            </a>
        </td>
    </tr>
    <tr>
        <td>    
            <a class="btn btn-primary"  href="/posts/entries/" role="button"style="height:80px;width:150px">Meine Aufgaben ansehen
            </a>
        </td>
        <td>     
            <a class="btn btn-primary"  href="/sheets/view_sheet_ansehen" role="button"style="height:80px;width:150px">Meine Aufgabenblätter ansehen
            </a>
        </td>
        <td>     
            <a class="btn btn-primary"  href="/users/view_users" role="button"style="height:80px;width:150px">Alle PrepPool-Nutzer sehen
            </a>
        </td>
    </tr>
</table>

{% endblock%}