{% extends 'base.html' %}

{%block head %}
<title>HOME</title>

{% endblock%}

{%block body %}
<br>
<h1>PrepPool</h1>
<br>
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h2>Herzlich Willkommen bei PrepPool!</h2>
            <br>
            <br>
            <br>

            <h2>Neu bei PrepPool? Bitte registrieren Sie sich. </h2>
        
                <a class="btn btn-primary" href="/users/register" role="button">Registrieren
                    </a>
                   
            <br>
            <br>
            <br>
            <br>

            <h2>Login für registrierte Lehrpersonen </h2>
            
                <a class="btn btn-primary" href="/users/login" role="button">Login
                    </a>
            </p>

           
    
        </div>

    <br>
    <br>  
</div>
{% endblock%}