<label for="thema" >Fach</label>
<input class="form-control" type="text" name='fach' id='fach', placeholder="Enter Fach" aria-label="Fach">
<br>


{url_for('static', filename='profile_pics/'+ post.autor.


 

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
      <div class= "alert alert-{{category}}">
          {{message}}
      </div>

{%endfor%}
{%endif %}
{%endwith%}


@app.route('/new/', methods=['GET', 'POST'])
@login_required
def new_post():
    

        if request.method=='POST':
            post_fach= request.form['fach']
            post_thema= request.form['thema']
            post_aufgabe= request.form['aufgabe']
            post_schwierigkeitsgrad= request.form['schwierigkeitsgrad']
            new_post =Aufgabe(fach=post_fach,thema=post_thema, aufgabe= post_aufgabe, schwierigkeitsgrad=post_schwierigkeitsgrad)
            
            db.session.add(new_post)
            db.session.commit()

            return redirect('/new/')
        else: 
            return render_template('new_post.html', title= 'Neue Aufgabe')


  

        <div class="form-group">
            {{ form.level.label(class="form-control-label") }}
            {%if form.level.errors%}
             {{ form.level(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {%for error in form.level.errors%}
              <span> {{error}}</span>
              {%endfor%}
              </div>
            {%else%}
            {{form.level (class="form-control form-control-lg")}}
            
            {%endif%}
          </div>
    

@app.route('/eingabe/', methods=['GET','POST'])
def posts():    
    if request.method=='POST':
         post_fach= request.form['fach']
         post_thema= request.form['thema']
         post_aufgabe= request.form['aufgabe']
         post_schwierigkeitsgrad= request.form['schwierigkeitsgrad']
         new_post =Aufgabe(fach=post_fach,thema=post_thema, aufgabe= post_aufgabe, schwierigkeitsgrad=post_schwierigkeitsgrad)
         db.session.add(new_post)
         db.session.commit()
  
         return redirect('/eingabe/')

    else:
        all_posts=Aufgabe.query.order_by(Aufgabe.date_posted).all()
        return render_template('eingabe.html', post=all_posts)


    return render_template('eingabe.html', post= all_posts)



@app.route('/eingabe/edit/<int:id>', methods=['GET', 'POST'])
    def edit(id):
        post= Aufgabe.query.get_or_404(id)
        
        if request.method=='POST':
            post.fach= request.form['fach']
            post.thema= request.form['thema']
            post.aufgabe= request.form['aufgabe']
            post.level= request.form['level']
            #post.date_posted=db.DateTime(datetime.utcnow)
            db.session.commit()
            return redirect('/eingabe/')
        else: 
          return render_template('edit.html', post=post)

          <a class= "btn btn-danger" href='/eingabe/delete/{{post.id}}'>delete</a>
        <a class= "btn btn-primary" href='/eingabe/edit/{{post.id}}'>edit</a>