        {% extends 'base.html' %}

        {%block head  %}
        <title>Aufgaben</title>
        {% endblock%}

    {%block body  %}
        <br>
        <br>
        <div>
        <h1 style="display: inline">Meine Aufgaben</h1>
        <br>
        <a style="display: inline " class= "btn btn-success float-right" href='/posts/new_post/'>+ Eingabe</a>
        </div>


        <br>
        <hr>
    {% for post in posts%}

    <article class="media content-section">
        <div class="media">
           
            
                <div class="media-body">
                    <div class="article-metadata">
                    <h4>Fach: <a class="article-titel" >{{ post.subject}}</a></h4> 
                    <h4>Thema: {{ post.topic }}</h4> 
                 
                    <h4><a class="article-titel" >{{ post.subject}},{{ post.topic }}</a></h4> 
               
                    <br>
                    <p>Level:{{post.level}}, von:{{post.autor.username}}</p>
                    <br>
                    </div>
                    <p style="white-space:pre-wrap"> {{post.text}}</p>


                    <small>{{post.date_posted.strftime('%d -%m-%Y')}}</small>
                    <br>
                    <br>
                </div>
        </div>
   
       
        <hr>
        
       
    </article>
        {%endfor%}
        <br><br>
        <a class="btn btn-primary" href='/home' role="button">Zur Übersicht
        </a>
        {% endblock%}
 