        {% extends 'base.html' %}

        {%block head  %}
        <title>Aufgaben</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% endblock%}

    {%block body  %}
        <br>
        <h1>PrepPool</h1>


        <br>
        <div>
        <h2>Alle meine Aufgaben</h2>
        </div>


        <hr>
    {% for post in posts%}

    <article class="media content-section">
        <div class="media">
           
            
                <div class="media-body">
                    <div class="article-metadata">
                    <h5>Fach: {{ post.subject}}, Thema: {{ post.topic }}</h5> 
                    <p>Level:{{post.level}}, von:{{post.autor.username}} am {{post.date_posted.strftime('%d -%m-%Y')}}</p>
                    </div>
                    <p style="white-space:pre-wrap"> {{post.text}}</p>
                    <a class= "btn btn-primary" href='/posts/entries/edit/{{post.id}}'>ändern</a>
                    <a class= "btn btn-danger" href='/posts/entries/delete/{{post.id}}'>löschen</a>
                </div>
        </div>
   
       
        <hr>
        
       
    </article>
        {%endfor%}
        <br>
        
        <a  class= "btn btn-primary" href='/posts/new_post/'>Eine weitere Aufgabe eingeben</a>
        <br><br>

        <a class="btn btn-primary" href='/home' role="button">Zur Übersicht
        </a>
        {% endblock%}
 