        {% extends 'base.html' %}

        {%block head  %}
        <title>Aufgaben</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% endblock%}

    {%block body  %}
        <br>
        <h1>PrepPool</h1>


        <br>
        <div>
        <h2>Meine Aufgaben   <a  class= "btn btn-outline-secondary" href='/posts/new_post/'>Eine weitere Aufgabe eingeben</a></h2>
        </div>


        <hr>
    {% for post in posts%}

    <article class="media content-section">
        <div class="media">
           
            
                <div class="media-body">
                    <div class="article-metadata">
                    <p style="font-weight: bold;"> Fach: {{ post.subject}}, Thema: {{ post.topic }}, Level: {{post.level}}<!-- von:{{post.autor.username}} am {{post.date_posted.strftime('%d -%m-%Y')}}--></p>
                    </div>
                    <p style="white-space:pre-wrap"> {{post.text}}</p>
                    <a class= "btn btn-outline-secondary btn-sm" href='/posts/entries/edit/{{post.id}}'>ändern</a>
                    <a class= "btn btn-outline-danger btn-sm" href='/posts/entries/delete/{{post.id}}'>löschen</a>
                </div>
        </div>
   
       
        <hr>
        
       
    </article>
        {%endfor%}
        <br>
        
        
       
        {% endblock%}
 