body { 
    font-family: Arial, Helvetica, sans-serif;
    
    
}
h1 {
    color: darkblue;
    font-size: 28pt;
    font-weight:bold;
    
}
h2 {
    color: black;
    font-size: 23pt;
    font-weight:bold;
    
}
