{% extends 'base.html' %}

{%block head  %}
<title>Themen</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
{% endblock%}

{%block body  %}
<br>
<h1>PrepPool</h1>
    <br>

<br>
<div class="content">
    
    <h2 style="text-align: left"> Themenübersicht</h2>
    <br>
    {% if topics|length < 1 %}
    <h4 style="text-align: left">Es gibt noch keine Themen. Bitte geben Sie eines ein.</h4>
    {% endif %}
    <br>
    <table id = "tables">
        <tr>
            <th>Thema</th>
            <th>Hinzugefügt am</th>
           <!--<td> <th>von User No</th>-->
        </tr>
        {% for topic in topics %}
        <tr>
            <td>{{topic.content}}</td>
            <td>{{topic.date_created.date()}}</td>
            <!--<td>{{topic.user_id}}</td>-->
           
        </tr>
        {% endfor %}
    </table>

 <div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <br>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Neues Thema eingeben: </legend>

            <div class="form-group">
            {{ form.topic.label(class="form-control-label") }}
            {%if form.topic.errors%}
                {{ form.topic(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {%for error in form.topic.errors%}
                <span> {{error}} </span>
                  {%endfor%}
                </div>
              {%else%}
              {{form.topic (class="form-control form-control-lg") }}
              {%endif%}
            </div>

      
        </fieldset>
        <br>
        <div class="form-group">
        {{form.submit(class="btn btn-outline-info") }}
        </div>
        <br>
    </form>
</div>
<br>
<a class="btn btn-primary" href='/home' role="button">Zur Übersicht
</a>

  <br>
  <br>
{% endblock%}
