<label for="thema" >Fach</label>
<input class="form-control" type="text" name='fach' id='fach', placeholder="Enter Fach" aria-label="Fach">
<br>



if request.method=='POST':
         post_fach= request.form['fach']
         post_thema= request.form['thema']
         post_aufgabe= request.form['aufgabe']
         post_author= request.form['author']
         new_post =Aufgabe(fach=post_fach,thema=post_thema, aufgabe= post_aufgabe, author=post_author)
        
         db.session.add(new_post)
         db.session.commit()

         
         return redirect('/eingabe/')
    else:
        all_posts=Aufgabe.query.order_by(Aufgabe.date_posted).all()
        return render_template('eingabe.html', posts=all_posts)


    return render_template('eingabe.html', posts= all_posts)