{% extends 'base.html' %}

{%block head  %}
<title>Users</title>
{% endblock%}

{%block body  %}
<br>
<br>
<div>
<h1 style="display: inline">Users</h1>
<br>
</div>


<br>
<hr>
{% for user in users%}

<article class="media content-section">
<div class="media">
   
    <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/'+ user.image_file) }}">
        <div class="media-body">
            <div class="article-metadata">
            <h4>{{ user.username}},</h4> 
            <br>
            <h4>{{ user.email }}</h4> 
            <br>
            </div>
        </div>
</div>

</article>
{%endfor%}
<br>
<a class="btn btn-primary" href='/home' role="button">Zur Übersicht
</a>

  <br>




{% endblock%}