{% extends 'base.html' %}

{%block head  %}
<title>Users</title>
{% endblock%}

{%block body  %}
<br>
<br>
<div>
<h1 style="display: inline">Users</h1>
<br>
</div>


<br>
<hr>
<table border="0" cellpadding ="5">
 <th>Profilbild</th> 
 <th>Name</th> 
 <th>Emailadresse</th> 
  {% for user in users%}
<tr>
  <td><img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/'+ user.image_file) }}">
  </td>
  <td>{{ user.username}} </td>
  <td>{{ user.email }} </td>
</tr>
  {%endfor%}
</table>
  

<br>
<a class="btn btn-primary" href='/home' role="button">Zur Übersicht
</a>

  <br>




{% endblock%}