{% extends 'base.html' %}

{%block head  %}
<title>Aufgaben</title>
{% endblock%}

{%block body  %}
<div>
<h1 style="display: inline">Datenbank</h1>
<a style="display: inline" class= "btn btn-success float-right" href='/new/'>+ Eingabe</a>
</div>


<br>
<hr>
{% for post in post%}
<h2>{{ post.fach}}</h2>

<h3>{{ post.thema }}</h3>

<p style="white-space:pre-wrap"> {{post.aufgabe}}</p>

<p>By:{{post.author}}</p>
<p>{{post.date_posted}}</p>

<a class= "btn btn-danger" href='/eingabe/delete/{{post.id}}'>delete</a>
<a class= "btn btn-primary" href='/eingabe/edit/{{post.id}}'>edit</a>

<hr>

{%endfor%}
{% endblock%}
 