{% extends 'base.html' %}

{%block body %}

<div class="content-section">
    <form method ="POST" action="">
    
        {{  form.hidden_tag()  }}
        <br>
       
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> {{legend}}</legend>
    
            <br>
         <div class="form-group">
            {{ form.fach.label(class="form-control-label") }}
            {%if form.fach.errors%}
             {{ form.fach(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {%for error in form.fach.errors%}
              <span> {{error}}</span>
              {%endfor%}
              </div>
            {%else%}
            {{form.fach (class="form-control form-control-lg")}}
            {%endif%}

          </div>
          <br>
          <div class="form-group">
            {{ form.thema.label(class="form-control-label") }}
            {%if form.thema.errors%}
             {{ form.thema(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {%for error in form.thema.errors%}
              <span> {{error}}</span>
              {%endfor%}
              </div>
            {%else%}
            {{form.thema (class="form-control form-control-lg")}}
            {%endif%}
          </div>
          <br>
          
          <div class="form-group">
            {{ form.level.label(class="form-control-label") }}
            {%if form.level.errors%}
             {{ form.level(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {%for error in form.level.errors%}
              <span> {{error}}</span>
              {%endfor%}
              </div>
            {%else%}
            {{form.level (class="form-control form-control-lg")}}
            
            {%endif%}
          </div>



          <br>
          <div class="form-group">
            {{ form.aufgabe.label(class="form-control-label") }}
            {%if form.aufgabe.errors%}
             {{ form.aufgabe(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {%for error in form.aufgabe.errors%}
              <span> {{error}}</span>
              {%endfor%}
              </div>
            {%else%}
            {{form.aufgabe (class="form-control form-control-lg")}}
            {%endif%}
          </div>
          <br>

        </fieldset>
        <br>
        <div class="form-group">
        {{form.submit(class="btn btn-outline-info") }}
        </div>
        <br>
        <a class="btn btn-primary" href="/eingabe/" role="button">Zur Datenbank</a>

        <br>
    </form>
    <br>
    <br>
</div> 

{% endblock body%}