{% extends 'base.html' %}

{%block head  %}
<title>Aufgaben</title>
{% endblock%}

{%block body  %}
<br>
<br>
<div>
<h1 style="display: inline">Aufgabe</h1>
<br>

</div>
<hr>


<article class="media content-section">
<div class="media">
   
    <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/'+ post.autor.image_file) }}">
        <div class="media-body">
            <div class="article-metadata">
                <hr>
            {%if post.autor == current_user %}
            <div>
                <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('edit', post_id=post.id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            </div>
           
            {%endif%}
            <h2>{{ post.fach}}</h2> 
            <h4> {{ post.thema }}</h4>
            <br>
            <p>Level:{{post.level}}, von:{{post.autor.username}}</p>
            <br>
            </div>
            <p style="white-space:pre-wrap"> {{post.aufgabe}}</p>


            <small>{{post.date_posted.strftime('%d -%m-%Y')}}</small>
            <br>
            <br>
        </div>
</div>

</article>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete post????</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
       
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="{{ url_for('delete', post_id=post.id) }}" method="POST">
              <input class ="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
</div>
  
{% endblock%}
